language: python

python:
  - "2.7"
  - "3.4"

sudo: false

addons:
  apt:
    packages:
      - libcurl4-openssl-dev

install:
  - pip install -r requirements.txt

before_script:
  - git submodule update --init --recursive

script:
  # Try to install the package
  - pip install .

  # Run tests
  - pytest -vv

notifications:
  email:
    on_failure: change

deploy:
  provider: pypi
  user: Tobias.Bieniek
  password:
    secure: EoZBUYwOumozqjqZ0ODDUfywSF+kSxUeIEVQNzjKjWdbzdwzD9tBi3uEGed6+CkZr9R/5arc/YAjCt/1zuKfdgOD6Mh6VxgkcPoaBkfF0nsTKwgNzN29BEU4P1V7nWpILy7JPC80K0fCvH2UwGlmB79oMFuLu74vcf2MhTKA40E=
  on:
    tags: true
    repo: skylines-project/py-xcsoar
