# metadata
include README.rst
include xcsoar.submodule/AUTHORS
include xcsoar.submodule/COPYING
include xcsoar.submodule/README
include xcsoar.submodule/VERSION.txt

# build scripts
include xcsoar.submodule/Makefile
graft xcsoar.submodule/build

# source files
graft xcsoar.submodule/src
prune xcsoar.submodule/src/Android
prune xcsoar.submodule/src/Dialogs
prune xcsoar.submodule/src/Form
prune xcsoar.submodule/src/Gauge
prune xcsoar.submodule/src/InfoBoxes
prune xcsoar.submodule/src/Input
prune xcsoar.submodule/src/Java
prune xcsoar.submodule/src/Kobo
prune xcsoar.submodule/src/Look
prune xcsoar.submodule/src/MapWindow
prune xcsoar.submodule/src/Renderer
prune xcsoar.submodule/src/Screen
prune xcsoar.submodule/src/UIUtil
prune xcsoar.submodule/src/Widget
graft xcsoar.submodule/python
graft xcsoar.submodule/test/src
graft xcsoar.submodule/lib/boost
include xcsoar.submodule/tools/GenerateSineTables.cpp
