# metadata
include README.rst
include xcsoar/AUTHORS
include xcsoar/COPYING
include xcsoar/README
include xcsoar/VERSION.txt

# build scripts
include xcsoar/Makefile
graft xcsoar/build

# source files
graft xcsoar/src
prune xcsoar/src/Android
prune xcsoar/src/Dialogs
prune xcsoar/src/Form
prune xcsoar/src/Gauge
prune xcsoar/src/InfoBoxes
prune xcsoar/src/Input
prune xcsoar/src/Java
prune xcsoar/src/Kobo
prune xcsoar/src/Look
prune xcsoar/src/MapWindow
prune xcsoar/src/Renderer
prune xcsoar/src/Screen
prune xcsoar/src/UIUtil
prune xcsoar/src/Widget
graft xcsoar/test/src
include xcsoar/tools/GenerateSineTables.cpp
