# metadata
include README.rst
include xcsoar.submodule/AUTHORS
include xcsoar.submodule/COPYING
include xcsoar.submodule/README
include xcsoar.submodule/VERSION.txt

# build scripts
include xcsoar.submodule/Makefile
graft xcsoar.submodule/build

# source files
graft xcsoar.submodule/src
prune xcsoar.submodule/src/Android
prune xcsoar.submodule/src/Dialogs
prune xcsoar.submodule/src/Form
prune xcsoar.submodule/src/Gauge
prune xcsoar.submodule/src/InfoBoxes
prune xcsoar.submodule/src/Input
prune xcsoar.submodule/src/Java
prune xcsoar.submodule/src/Kobo
prune xcsoar.submodule/src/Look
prune xcsoar.submodule/src/MapWindow
prune xcsoar.submodule/src/Renderer
prune xcsoar.submodule/src/Screen
prune xcsoar.submodule/src/UIUtil
prune xcsoar.submodule/src/Widget
graft xcsoar.submodule/python
graft xcsoar.submodule/test/src
include xcsoar.submodule/tools/GenerateSineTables.cpp

# boost
graft xcsoar.submodule/lib/boost/assert/include
graft xcsoar.submodule/lib/boost/config/include
graft xcsoar.submodule/lib/boost/core/include
graft xcsoar.submodule/lib/boost/detail/include
graft xcsoar.submodule/lib/boost/function_types/include
graft xcsoar.submodule/lib/boost/functional/include
graft xcsoar.submodule/lib/boost/integer/include
graft xcsoar.submodule/lib/boost/intrusive/include
graft xcsoar.submodule/lib/boost/move/include
graft xcsoar.submodule/lib/boost/mpl/include
graft xcsoar.submodule/lib/boost/preprocessor/include
graft xcsoar.submodule/lib/boost/static_assert/include
graft xcsoar.submodule/lib/boost/tti/include
graft xcsoar.submodule/lib/boost/type_traits/include
